/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*Validate Form đăng ký*/
/*label {*/
/*  display: block;*/
/*}*/

/*.custom-input {*/
/*  padding-bottom: 2%;*/
/*}*/

/*.custom-input-error label {*/
/*  color: red;*/
/*}*/

/*.custom-input-error input {*/
/*  border: 2px solid red;*/
/*  border-radius: 4px;*/
/*}*/

/*.error {*/
/*  color: red;*/
/*  margin: 0;*/
/*}*/

 /*Validate Form Login*/
/*label {*/
/*  display: block;*/
/*}*/

/*.custom-input {*/
/*  padding-bottom: 2%;*/
/*}*/

/*.custom-input-error label {*/
/*  color: red;*/
/*}*/

/*.custom-input-error input {*/
/*  border: 2px solid red;*/
/*  border-radius: 4px;*/
/*}*/

/*.error {*/
/*  color: red;*/
/*  margin: 0;*/
/*}*/


/*Validate Form Login with Formik*/
/*label {*/
/*  display: block;*/
/*}*/

/*.custom-input {*/
/*  padding-bottom: 2%;*/
/*}*/

/*.custom-input-error label {*/
/*  color: red;*/
/*}*/

/*.custom-input-error input {*/
/*  border: 2px solid red;*/
/*  border-radius: 4px;*/
/*}*/

/*.error {*/
/*  color: red;*/
/*  margin: 0;*/
/*}*/

/*Tạo form liên hệ*/
/*label {*/
/*  display: block;*/
/*}*/

/*.custom-input {*/
/*  padding-bottom: 2%;*/
/*}*/

/*.custom-input-error label {*/
/*  color: red;*/
/*}*/

/*.custom-input-error input {*/
/*  border: 2px solid red;*/
/*  border-radius: 4px;*/
/*}*/

/*.error {*/
/*  color: red;*/
/*  margin: 0;*/
/*}*/

/*Ứng dụng quản lý sách*/
/*.container {*/
/*  width: 500px;*/
/*  margin: auto;*/
/*}*/

/*label {*/
/*  display: block;*/
/*}*/

/*input {*/
/*  width: 100%;*/
/*}*/

/*.custom-input {*/
/*  padding-bottom: 2%;*/
/*}*/

/*.custom-input-error label {*/
/*  color: red;*/
/*}*/

/*.custom-input-error input {*/
/*  border: 2px solid red;*/
/*  border-radius: 4px;*/
/*}*/

/*.error {*/
/*  color: red;*/
/*  margin: 0;*/
/*}*/

/*.width-auto {*/
/*  width: auto;*/
/*}*/

/*.flex {*/
/*  display: flex;*/
/*  gap: 10px;*/
/*}*/

/*table {*/
/*  font-family: arial, sans-serif;*/
/*  border-collapse: collapse;*/
/*  width: 100%;*/
/*}*/

/*td, th {*/
/*  border: 1px solid #dddddd;*/
/*  text-align: left;*/
/*  padding: 8px;*/
/*}*/

/*tr:nth-child(even) {*/
/*  background-color: #dddddd;*/
/*}*/

/*Tạo form soạn thảo Email (with validate/upload attachments)*/
/*.container {*/
/*  width: 500px;*/
/*  margin: auto;*/
/*}*/

/*label {*/
/*  display: block;*/
/*}*/

/*input,*/
/*textarea {*/
/*  width: 100%;*/
/*}*/

/*textarea {*/
/*  resize: vertical;*/
/*}*/

/*.custom-input {*/
/*  padding-bottom: 2%;*/
/*}*/

/*.custom-input-error label {*/
/*  color: red;*/
/*}*/

/*.custom-input-error input,*/
/*.custom-input-error textarea {*/
/*  border: 2px solid red;*/
/*  border-radius: 4px;*/
/*}*/

/*.error {*/
/*  color: red;*/
/*  margin: 0;*/
/*}*/
/*Tạo form khai báo y tế (with validate)*/
.container {
  width: 300px;
  margin: auto;
}

label {
  display: block;
}

input,
textarea,
button {
  width: 100%;
}

.custom-input {
  padding-bottom: 2%;
}

.custom-input-error label {
  color: red;
}

.custom-input-error input,
.custom-input-error textarea {
  border: 2px solid red;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 0;
}

.width-auto {
  width: auto;
}

.flex {
  display: flex;
}
