.header{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}
.logo {
    width: 30%;
    height: 150px;
    border: 1px solid;
}
.banner {
    width: 70%;
    height: 150px;
    border: 1px solid;
}
.nav{
    width: 100%;
    height: 50px;
    border: 1px solid;
    margin-bottom: 10px;
}
.main{
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}
.left {
    width: 20%;
    height: 600px;
    border: 1px solid;
}
.mid {
    width: 50%;
    height: 600px;
}
.mid-top {
    width: 100%;
    height: 200px;
    border: 1px solid;
    margin-bottom: 10px;
}
.mid-bot {
    width: 100%;
    height: 385px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.news {
    width: calc(33% - 6px);
    height: 160px;
    border: 1px solid;
}
.right {
    width: 30%;
    height: 600px;
    border: 1px solid;
}
.footer{
    width: 100%;
    height: 50px;
    border: 1px solid;
}